<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <!-- Google Fonts -->
  <link href="https://webfontworld.github.io/NanumBarunGothic/NanumBarunGothic.css" rel="stylesheet">  <link rel="stylesheet" href="../../../../../OneDrive%20-%20이화여자대학교/바탕%20화면/23-여름계절/UI_Practice/css/main_diary.css">
</head>
<body>
    <header>
        <img src="../../../../../OneDrive%20-%20이화여자대학교/바탕%20화면/23-여름계절/UI_Practice/images/TTT.svg" alt="TTT" class="logo">

        <nav class="nav">
            <ul class="nav__list">
              <li class="nav__list-item"><a href="#" class="nav__link">일기 작성</a></li>
              <li class="nav__list-item"><a href="#" class="nav__link">일기 분석</a></li>
              <li class="nav__list-item"><a href="#" class="nav__link">모아보기</a></li>
              <li class="nav__list-item"><a href="#" class="nav__link">MY 통계</a></li>
            </ul>
        </nav>

        <div class="status">
            <div class="profile">
                <img src="../../../../../OneDrive%20-%20이화여자대학교/바탕%20화면/23-여름계절/UI_Practice/images/profile.svg">
            </div>
            <p class="email">
                sforseohn@ewhain.net
            </p>
            <p class="logout">
                로그아웃
            </p>
        </div>
        
    </header>
    
    <main class="main main--back">
      <a href="" class="btn btn__image"><img src="../../../../../OneDrive%20-%20이화여자대학교/바탕%20화면/23-여름계절/UI_Practice/images/add_image.svg">이미지 삽입</a>
      <a href="" class="btn btn__link"><img src="../../../../../OneDrive%20-%20이화여자대학교/바탕%20화면/23-여름계절/UI_Practice/images/add_link.svg">외부 콘텐츠</a>
      <p class="number">0자</p>
      <a href="" class="btn btn__tempStore">임시 저장</a>
      <a href="" class="btn btn__GPT"><img src="../../../../../OneDrive%20-%20이화여자대학교/바탕%20화면/23-여름계절/UI_Practice/images/GPT.svg">일기 분석하기</a>
      <div class="main--box">
        <h1 class="main__title">일기 제목을 작성하세요.</h1>
        <p class="main__date">DATE : 2023. 06. 28</p>
        <p class="main__guide">
          오늘 하루를 기록해보세요.
          감정과 관련된 키워드가 많을수록 분석의 명확성이 높아집니다.
          GPT 분석 아이콘을 클릭해 일기를 저장할 수 있습니다.
        </p>
      </div>
    </main>
</body>
</html>
